@model WebApp.Models.ResponseLogin
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <dl class="row">
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-6">
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Role)
        </dd>
        <dd class = "col-sm-12">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
        </dd>
    </dl>
    
</div>
